@model PolyBota.Web.Areas.Kart.Models.MakineKartModel

@{
    ViewBag.Title = "MakineKartListe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="col-md-8 col-sm-12">
        <div class="col-md-6">
            <h3>Makine Ekipman Kart Tanım Liste</h3>

        </div>
        <Div class="col-md-6">
            <div class="btn btn-group" role="group">
        
                <a class="btn btn-success btn-sm" href="/"><i class="fa fa-reply-all"></i> Anasayfa</a>


            </div>
        </Div>

    </div>
    <div class="col-md-4 col-sm-12">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">

                    <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                 
                    <li class="breadcrumb-item active" aria-current="page">Makine Ekipman Kart Listesi</li>
                </ol>
            </nav>
        </div>
    </div>


</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Makine Ekipman Kart Listesi
                </h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <b>Bölüm Seçimi</b>
                            @Html.DropDownListFor(a=>a.DropKirilimliBolumler, Model.DropKirilimliBolumler.Select(a=> new SelectListItem()
                            {
                                Text = a.Tanim,
                                Value = a.Id
                            }),new{@class="form-control"})
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <b>&nbsp;</b>
                            <a href="javascript:" class="btn btn-secondary btn-block">Listele</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <b>&nbsp;</b>
                            <a href="javascript:" class="btn btn-info">Yeni Kayıt</a>
                        </div>
                    </div>
                    <div class="col-md-12 table-responsive">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Makine Ekipman</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @{
                                int t = 0;
                                foreach (var item in Model.MakineKarts)
                                {
                                    t++;
                                    <tr>
                                        <td>@t</td>
                                        <td>@item.MakineEkipmanAdı</td>
                                        <td><a href="@Url.Action("MakineEkipmanDetay", "MakEkip", new {id = item.Id})" class="btn btn-success">Düzenle</a></td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

