<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right d-none d-sm-inline">
        SEMT TARIM
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020-2021 <a href="#">Sua Software</a>.</strong> All rights reserved.
</footer>

