<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="POTA_PTKSEntities" connectionString="metadata=res://*/Concrete.EntityFramework.ModelPoly.csdl|res://*/Concrete.EntityFramework.ModelPoly.ssdl|res://*/Concrete.EntityFramework.ModelPoly.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.1.1;initial catalog=POTA_PTKS;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="POTA_TASDEntities" connectionString="metadata=res://*/Concrete.EntityFramework.ModelTasd.csdl|res://*/Concrete.EntityFramework.ModelTasd.ssdl|res://*/Concrete.EntityFramework.ModelTasd.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.1.1;initial catalog=POTA_TASD;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="POTA_PSETEntities" connectionString="metadata=res://*/Concrete.EntityFramework.ModelPset.csdl|res://*/Concrete.EntityFramework.ModelPset.ssdl|res://*/Concrete.EntityFramework.ModelPset.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.1.1;initial catalog=POTA_PSET;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>