@model Polyteks.Katman.TefrikBildirim.Models.SatisModel

    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label class="control-label"><b>Stok Kodu</b></label>
                @Html.DropDownListFor(a => a.CariKoduTasd, Model.CarilerTasd,"Seçiniz", new { @class = "form-control", id = "DropCariStokKodu" })
            </div>
        </div>
    </div>